.bigBear {
    padding-top: 2rem;
    background: $color-bg;
    &__title {
        margin-top: 2rem;
        font-size: 4.8rem;
        line-height: 6.14rem;
    }
    &__info {
        margin-top: 3rem;
        color: $color-white;
        & p + p {
            margin-bottom: 2rem;
        }
        li::before {
            content: "•";
        }
    }
}
