.contacts {
    position: relative;
    &__title {
        text-align: center;
        margin-bottom: 2.5rem;
    }
    &__info {
        margin-top: -11rem;
        padding: 2.5rem 2rem 3rem;
        background: linear-gradient(180deg, $color-light-grey 0%, rgba(60, 60, 60, 0) 100%);
        background-color: #171b18;
        & li + li {
            margin-bottom: 2.5rem;
        }
        &-subtitle {
            text-align: left;
            font-weight: 600;
        }
        &-phone,
        &-email {
            text-transform: none;
        }
        &-text {
            & span {
                font-weight: 600;
            }
        }
        &-link {
            display: flex;
            & li {
                width: 2.4rem;
                height: 2.4rem;
            }
            & li + li {
                margin-left: 2rem;
            }
            .link--facebook {
                content: url(/bigBear/assets/icons/icon-facebook.svg);
            }
            .link--instagram {
                content: url(/bigBear/assets/icons/icon-instagram.svg);
            }
        }
        &-scrolling {
            margin-top: 3rem;
            padding: 2.5rem 1.6rem;
            background: rgba(255, 255, 255, 0.05);
            & p {
                padding-right: 3rem;
                font-size: 1.2rem;
                line-height: 1.46rem;
            }
        }
        &-wrapper {
            max-height: 15rem;
            overflow: scroll;
        }
    }
}
