form {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
.form {
    &__booking {
        width: 100%;
        height: 8rem;
        margin-top: 3rem;
        background: rgba(255, 255, 255, 0.8);
    }
    &__inner {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.75rem;
        font-size: 1.4rem;
    }
    &__button {
        width: 4.5rem;
        height: 4.5rem;
        background-color: $color-bg;
        &::after {
            content: url(../../assets/icons/search.svg);
        }
    }
}
.booking__location select{
    background-color: transparent;
}
.booking__location,
.booking__location-inner,
.date__arrival,
.date__departure,
.guests {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    & input {
        background-color: transparent;
    }
}
.guest {
    &__choice {
        text-align: center;
        font-weight: 600;
        & button {
            font-size: 1.8rem;
            background-color: transparent;
        }
        &-step {
            all: unset;
            -moz-appearance: textfield;
            width: 3em;
            text-align: center;
            &::-webkit-inner-spin-button {
                display: none;
            }
        }
    }
}
