.header {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-top: 3rem;
    &__menu {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        &-left {
            display: none;
        }
        &-btn {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;
            transition: background 0.3s;
            & div {
                width: 1.8rem;
                height: 0.2rem;
                background-color: $color-gray;
            }
        }
        &-right {
            font-weight: 600;
        }
        &-title {
            margin-bottom: 3rem;
        }
        &-list {
            color: $color-gray;
            & li {
                margin-bottom: 2rem;
            }
        }
    }
}

/*active menu style*/
.header__active {
    background: top / cover url(/bigBear/assets/images/active-bg.jpg);
}
.btn--active {
    & div:nth-child(1) {
        transform: rotate(45deg);
    }
    & div:nth-child(2) {
        transform: rotate(-45deg);
        position: absolute;
    }
    & div:nth-child(3) {
        display: none;
    }
}
.header__menu--active{
    display: block;
    height: 100vh;
}
.header__menu-left--active{
    display: block;
    text-align: center;
    margin-top: 30%;
}
.header__menu-right--active{
    display: none;
}
