.info {
    padding: 5rem 0 9rem;
    margin-top: 5rem;
    background-color: $color-bg;
    color: $color-white;
    .questions {
        padding-bottom: 8rem;
    }
}
/*foto slider*/
.foto__slider {
    margin-bottom: 6rem;
    &.swiper-container {
        width: 100%;
    }
}
.slider {
    &__flex {
        display: flex;
        align-items: flex-start;
    }
    &__front {
        height: 26.3rem;
        padding-bottom: 4rem;
        & &-item img {
            transition: 3s;
        }
        & &-item:hover img {
            transform: scale(1.1);
        }
        &-item {
            width: 100%;
            height: 100%;
            overflow: hidden;
            & img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-pagination {
            & .swiper-pagination-bullet,
            .bigBear-pagination .swiper-pagination-bullet{
                background: $color-light-beige;
                opacity: 1;
            }
            & .swiper-pagination-bullet-active,
            .bigBear-pagination .swiper-pagination-bullet {
                background: $color-activ-pagination;
            }
        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 13.7rem;
        height: 61.3rem;
        margin-left: 3rem;
        & .swiper-slide {
            height: 100%;
        }
        .swiper-slide-prev .slider__thumbs-item:after,
        .swiper-slide-next .slider__thumbs-item:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #171b18 100%);
        }
        .swiper-slide-next .slider__thumbs-item:after {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #171b18 100%);
        }
    }
    &__prev,
    &__next {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__prev::after {
        content: url(/bigBear/assets/icons/slide-prev.svg);
        margin-bottom: 1rem;
    }
    &__next::after {
        content: url(/bigBear/assets/icons/slide-next.svg);
        margin-top: 1rem;
    }
    &__prev:focus,
    &__next:focus {
        outline: none;
    }
    &__thumbs {
        height: 56rem;
        &-item {
            position: relative;
            height: 100%;
        }
        &-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//contacts
.contacts {
    position: relative;
    &__title {
        text-align: center;
        margin-bottom: 2.5rem;
    }
    &__info {
        &-inner {
            position: relative;
            margin-top: -11rem;
            padding: 2.5rem 2rem 3rem;
            background-color: #171b18;
            background: linear-gradient(180deg, $color-light-grey 0%, rgba(60, 60, 60, 0) 100%);
            & li + li {
                margin-bottom: 2.5rem;
            }
        }
        &-subtitle {
            text-align: left;
        }
        &-phone,
        &-email {
            text-transform: none;
        }
        &-link {
            display: flex;
            & li {
                width: 2.4rem;
                height: 2.4rem;
            }
            & li + li {
                margin-left: 2rem;
            }
            .link--facebook {
                content: url(/bigBear/assets/icons/icon-facebook.svg);
            }
            .link--instagram {
                content: url(/bigBear/assets/icons/icon-instagram.svg);
            }
        }
        &-scrolling {
            margin-top: 3rem;
            padding: 2.5rem 1.6rem;
            background: rgba(255, 255, 255, 0.05);
            & p {
                padding-right: 3rem;
                font-size: 1.2rem;
                line-height: 1.46rem;
            }
            &--inner {
                max-height: 15rem;
                overflow-y: scroll;
            }
        }
    }
}

