@media (min-width: 500px) {
    .slider__control {
        max-width: 30%;
    }
}
@media (max-width: 599px) {
    .slider__thumbs {
        display: none;
    }
}
@media (min-width: 600px) {
    .info {
        .foto__slider {
            display: flex;
            height: 61.3rem;
        }
        .slider__front {
            width: 80%;
            padding-bottom: 0;
            margin-right: 3%;
            &-pagination {
                display: none;
            }
            &-item {
                max-width: 92rem;
                width: 100%;
            }
        }
        .slider__thumbs {
            display: block;
            width: 20%;
            flex-shrink: 0;
            &-item {
                max-width: 16rem;
                width: 100%;
                height: 16rem;
            }
        }
        /*questions accordion*/
        .accordion {
            &-item__title {
                &::after {
                    content: url(/bigBear/assets/icons/chevron-down-bg.svg);
                }
                &.active {
                    &::after {
                        content: url(/bigBear/assets/icons/x-orange.svg);
                    }
                }
            }
            &-item__text {
                font-size: 1.8rem;
                line-height: 2.194rem;
            }
        }
    }
    .text {
        font-size: 1.8rem;
        line-height: 2.194rem;
    }
}
