@media (min-width: 500px) {
    .slider__control {
        max-width: 30%;
    }
}
@media (max-width: 599px) {
    .slider__col {
        display: none;
    }
}
@media (min-width: 600px) {
    .info {
        //slider start
        .slider {
            &__front {
                height: 61.3rem;
                padding-bottom: 0;
                &-pagination {
                    display: none;
                }
            }
        }
        /*questions accordion*/
        .accordion {
            &-item__title {
                &::after {
                    content: url(/bigBear/assets/icons/chevron-down-bg.svg);
                }
                &.active {
                    &::after {
                        content: url(/bigBear/assets/icons/x-orange.svg);
                    }
                }
            }
            &-item__text {
                font-size: 1.8rem;
                line-height: 2.194rem;
            }
        }
        //contacts start
        .contacts {
            &__background {
                background-image: url(/bigBear/assets/images/info-bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__title {
                font-size: 4.8rem;
                line-height: 6.1rem;
                margin-bottom: 6rem;
            }
            &__wrapper {
                display: flex;
                justify-content: space-between;
                max-width: 105rem;
                margin: 0 auto;
            }
            &__image {
                order: 1;
                max-width: 46rem;
                width: 100%;
                align-self: center;
            }
            &__info {
                &-inner {
                    margin-top: 0;
                    max-width: 44.5rem;
                    background: none;
                    backdrop-filter: blur(3px);
                }
            }
        }
    }
    .footer {
        &__menu {
            &-wrapper {
                flex-direction: row;
                justify-content: space-around;
                &.text {
                    font-size: 1.6rem;
                }
            }
            &-item {
                margin-bottom: 0;
                .contacts__info-link {
                    flex-direction: column;
                    & li + li {
                        margin-left: 0;
                    }
                }
            }
            &-phone {
                order: 1;
            }
        }
    }
    .text {
        font-size: 1.8rem;
        line-height: 2.194rem;
    }
}
