.reviews {
    margin-top: 2rem;
}
.slider {
    .reviews__slider--item {
        max-width: 33rem;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 3rem;
    }
}
.slider__content.reviews__slider--content {
    max-width: 80%;
    padding-bottom: 3rem;
}
.reviews__slider-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
