.reviews {
    margin-top: 2rem;
}
.slider {
    .reviews__slider--item {
        max-width: 33rem;
        width: 100%;
        margin: 0;
        padding-bottom: 3rem;
    }
    .reviews__slider--content {
        max-width: 25rem;
        width: 100%;
    }
}
