.start {
   background-image: url(/bigBear/assets/images/bgImage.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 68rem;
   &__title {
      padding-top: 38.2rem;
      text-align: center;
      @include title;
      font-size: 3.6rem;
      line-height: 4.6rem;
   }
   &__subtitle {
      margin-top: 1.1rem;
      &-item {
         font-size: 1.4rem;
         line-height: 1.7rem;
      }
   }
   &__button {
      margin-top: 2.3rem;
   }
}

