.start {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -50%, #171b18 100%), url(/bigBear/assets/images/start-bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 68rem;
   &__wrapper {
      padding-top: 38.2rem;
   }
   &__title {
      text-align: center;
      @include title;
      font-size: 3.6rem;
      line-height: 4.6rem;
   }
   &__subtitle {
      margin-top: 1.1rem;
      &-item {
         font-size: 1.4rem;
         line-height: 1.7rem;
      }
   }
   &__button {
      margin-top: 2.3rem;
   }
}
