$color-bg-button: #fe982a;
$color-white: #ffffff;
$color-yellow: #fe982a;
$color-bg: #171B18;

@mixin title {
    font-family: "Lora", serif;    
    font-weight: 400;
    color: $color-white;
}

@mixin subtitle {
    position: relative;
    overflow: hidden;
    text-align: right;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.95rem;
    text-transform: uppercase;
    color: $color-yellow;
}
