@media (min-width: (450px)) {
    //service
    .service {
        &__item {
            max-width: 70vw;
            width: 100%;
        }
    }
}
@media (min-width: (500px)) {
    //slider
    .slider__item-text {
        display: block;
    }
}
@media (min-width: (541px)) {
    //header
    .header {
        &__inner {
            .burger {
                width: 0;
                height: 0;
                opacity: 0;
            }
        }
        &__menu {
            position: relative;
            opacity: 1;
            @include flex-all-sb;
            @include center-rest;
        }
    }
    .menu__list {
        @include flex-all-sb;
        li + li {
            padding-left: 2.5rem;
        }
    }
}
@media (min-width: (640px)) {
    //header
    .menu__list {
        li + li {
            padding-left: 3rem;
        }
    }
    //service
    .service {
        &__item {
            flex-basis: calc(50% - 3rem);
            max-width: 40vw;
            &-text{
                height: 12rem;
                text-align: initial;
            }
        }
    }
    //footer
    .footer__inner div:nth-child(odd) {
        margin-left: 0;
    }
    .footer__col {
        flex-basis: calc(50% - 3rem);
        margin: 0 0 3rem 3rem;
        text-align: unset;
    }
    .follow {
        justify-content: start;
    }
}

@media (min-width: (800px)) {
    //header
    .menu__list {
        font-size: calc(1.2rem + 2vw);
    }
}

@media (min-width: 1024px) {
    //header
    .menu__list {
        font-size: 3rem;
    }
    //slider
    .slider__item {
        &-title {
            font-size: 9.5rem;
        }
    }
    //footer
    .footer__col {
        flex-basis: calc(33.3333% - 3rem);
        margin: 0 0 0 3rem;
        &-links {
            margin-left: 0;
        }
    }
    .footer__inner {
        flex-wrap: nowrap;
        & div:nth-child(odd) {
            margin-left: 3rem;
        }
        & div:first-child {
            margin-left: 0;
        }
    }
}
@media (min-width: 1100px) {
    //service
    .service {
        &__items{
            margin: 8rem 0;
        }
        &__item {
            flex-basis: calc(25% - 3rem);
            margin: auto;
            &-title{
                height: 5rem;
            }
        }
    }
}
