.clients {
    @include section-padding;
    &__title {
        @include title-section;
        margin-bottom: 3rem;
    }
    &__slider {
        padding-bottom: 4rem;
        &.swiper-container{
            width: 100%;
        }
    }
    &__text {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        color: black;
    }
    &__name {
        @include title-artical;
        margin: 1rem 0 0;
    }
    &__pagination {
        .swiper-pagination-bullet {
            width: 1.1rem;
            height: 1.1rem;
        }
        & .swiper-pagination-bullet-active {
            background: $link-hover;
        }
    }
}