// COLORS
$text: #4e525d;
$turquoise: #49cbcd;
$link-hover: #1f9a9e;
$bg:#f0f8f9;
$red: #e74c3c;
$olive: #99be3a;
$grey:#788492;
$yellow: #d7800f;
$bg-footer: #539aad;
//social svg
$bg-facebook: #3B5998;
$bg-twitter: #55ACEE;
$bg-pinterest: #CB2027;
