<section class="clients">
    <div class="container">
        <h2 class="clients__title">What Clients Say</h2>
        <div class="clients__slider swiper-container">
            <div class="swiper-wrapper">
                <div class="clients__item swiper-slide">
                    <p class="clients__text">Best experience!!! I have spent three days with them learning kayak
                        skills. As a rookie doing kayak, i never thought i could learn so many tips from these lessons.
                        Fotis, George and Trifonas are very friendly and professional the same time. I highly recommend
                        them to everyone i know.
                    </p>
                    <div class="clients__info">
                        <p class="clients__name">'John Dove'</p>
                        <a href="#" class="clients__btn link-btn">More
                            <svg class="clients__icon" width="30" height="20">
                                <use xlink:href="img/sprite.svg#right-arrow"></use>
                            </svg>
                        </a>
                    </div>

                </div>
                <div class="clients__item swiper-slide">
                    <p class="clients__text">Outstanding hike up mount Taygetos!!! My daughter and I climbed mount
                        Taygetos with Fotis. Communication, planning and organisation were excellent from the word go.
                        Fotis was incredibly friendly, knowledgable and patient, and ensured that every detail of our
                        experience will exactly suit our needs and wishes. The mountain itself is a gem, and the views
                        breathtakingly beautiful! This was my second experience with Explore Messinia, and I look
                        forward to more!
                    </p>
                    <div class="clients__info">
                        <p class="clients__name">'Gilli E'</p>
                        <a href="#" class="clients__btn link-btn">More
                            <svg class="clients__icon" width="30" height="20">
                                <use xlink:href="img/sprite.svg#right-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="clients__item swiper-slide">
                    <p class="clients__text">This August I went for a kayaking day in Kardamili together with my son
                        Enric. place was fantastic, we visited a blue cave where all the group could swim in freeze
                        water under stalactites hanging from the ceiling of the cave, and latter they invited us to a
                        refreshing picnic in a beautiful beach, where we could also do some snorkeling and swim after
                        small colored fishes.
                    </p>
                    <div class="clients__info">
                        <p class="clients__name">'Belén P'</p>
                        <a href="#" class="clients__btn link-btn">More
                            <svg class="clients__icon" width="30" height="20">
                                <use xlink:href="img/sprite.svg#right-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clients__pagination swiper-pagination"></div>
        </div>
    </div>
</section>