<section class="explore">
    <div class="container">
        <h2 class="explore__title">
            Explore Messinia
        </h2>
        <div class="explore__inner">
            <div class="explore__btn">
                <button class="link-btn" type=" button" data-filter=".category-history">History</button>
                <button class="link-btn" type=" button" data-filter=".category-products">Products</button>
                <button class="link-btn" type=" button" data-filter=".category-beaches">Beaches</button>
                <button class="link-btn" type=" button" data-filter="all">All</button>
                <button class="link-btn" type=" button" data-filter=".category-ancient">Ancient</button>
                <button class="link-btn" type=" button" data-filter=".category-castles">Castles</button>
                <button class="link-btn" type=" button" data-filter=".category-bysantium">Bysantium</button>
                <button class="link-btn" type=" button" data-filter=".category-museumus">Museumus</button>
                <button class="link-btn" type=" button" data-filter=".category-waterfalls">Waterfalls</button>
            </div>
            <div class="explore__container">
                <article class="explore__item mix category-history" data-order="1">
                    <h3 class="explore__item-title">The Naval battle of Navarino</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-1.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#lyre"></use>
                            </svg>
                        </div>
                        History
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">The backstage, the intensity and the last navalbattle
                            in the history which marked the independence of the Greek state.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-products category-popular" data-order="2">
                    <h3 class="explore__item-title">Messinian Story</h3>
                    <a href="#" class="explore__item-img item-image" style=" background-image: url(img/explore-2.jpg);">
                    </a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#olive-oil"></use>
                            </svg>
                        </div>
                        Products
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Extra Virgin Olive Oil at Koryfasio, Messinia. The brand
                            “Messinian Story” reflects the quality, the characteristics and the philosophy of
                            this special olive oil.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                            <li class="phone">
                                <a href="tel: 302723028460" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#telephone"></use>
                                    </svg>
                                    Call
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-beaches category-popular" data-order="3">
                    <h3 class="explore__item-title">Vodokilia</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-3.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#beach"></use>
                            </svg>
                        </div>
                        Beaches
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">A beach that needs no introduction. It is considered
                            among the most beautiful beaches in the world thanks to its round shape and its
                            crystal waters.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-ancient" data-order="4">
                    <h3 class="explore__item-title">Methoni`s Archaeological Park</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-4.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#ancient-theatre"></use>
                            </svg>
                        </div>
                        Ancient
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Only few would imagine that the beautiful Bay of
                            Methony with the impressive Bourtzi hides so much.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-products" data-order="5">
                    <h3 class="explore__item-title">Gonis Melon</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-5.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#olive-oil"></use>
                            </svg>
                        </div>
                        Products
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">On the same ground, by the sea, for the last forty
                            years grow the most delicious melons.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                            <li class="phone">
                                <a href="tel: 302723028460" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#telephone"></use>
                                    </svg>
                                    Call
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-ancient category-new" data-order="6">
                    <h3 class="explore__item-title">Ancient Messene</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-6.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#ancient-theatre"></use>
                            </svg>
                        </div>
                        Ancient
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Perhaps the best preserved ancient state in Greece.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-products category-popular" data-order="7">
                    <h3 class="explore__item-title">SYKIKI</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-7.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#olive-oil"></use>
                            </svg>
                        </div>
                        Products
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">The Association of fig`s producers which made our
                            favorite fruit be all-weather, (and of oll sasons).
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                            <li class="phone">
                                <a href="tel: 302723028460" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#telephone"></use>
                                    </svg>
                                    Call
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-beaches" data-order="8">
                    <h3 class="explore__item-title">Methoni Beach</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-8.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#beach"></use>
                            </svg>
                        </div>
                        Beaches
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">In a wonderful landscape, with the beautiful Castle and
                            it's catholicity and the Bourtzi of Methoni in the backround, extends along the
                            whole bay this long sandy beach.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-castles" data-order="9">
                    <h3 class="explore__item-title">Methoni`s Castle</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-9.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#castle"></use>
                            </svg>
                        </div>
                        Castles
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Perhaps the most beautiful of all castles in Western
                            Messinia.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-products category-new" data-order="10">
                    <h3 class="explore__item-title">Ariston</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-10.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#olive-oil"></use>
                            </svg>
                        </div>
                        Products
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">It is not a secret that in Messinia everybody is aware
                            of what quality olive oil means. However, in “Ariston Hellas” they know better.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                            <li class="phone">
                                <a href="tel: 302723028460" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#telephone"></use>
                                    </svg>
                                    Call
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-beaches" data-order="11">
                    <h3 class="explore__item-title">Agia Kyriaki</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-11.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#beach"></use>
                            </svg>
                        </div>
                        Beaches
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">TA beautiful sandy harbor, ideal for diving. Here you
                            will not find sunbeds but the scenic/picturesque corners will make this worth your
                            while.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-museumus" data-order="12">
                    <h3 class="explore__item-title">The olive stone mill of G. Skarpalezos</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-12.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#museum"></use>
                            </svg>
                        </div>
                        Museum
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Perhaps, it is the only traditional olive stone mill
                            throughout Greece, where the processing of the fruit of the olive tree is done by
                            the use of millstones.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-castles" data-order="13">
                    <h3 class="explore__item-title">Niokastro</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-13.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#castle"></use>
                            </svg>
                        </div>
                        Castles
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Built on the hill above Pylos,literally on the sea,on
                            the south side we can admire the castle which is considered to be one of the best
                            saved fortification constructions in our days.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-waterfalls" data-order="14">
                    <h3 class="explore__item-title">Polylimnio</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-14.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#waterfall"></use>
                            </svg>
                        </div>
                        Waterfalls
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">A hidden natural treasure which will captivate your
                            attention, while it's beauty in every corner,will beguile any visitore.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-museumus" data-order="15">
                    <h3 class="explore__item-title">Messinia`s Archaeological Museum</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-15.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#museum"></use>
                            </svg>
                        </div>
                        Museum
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">The Museum of Messinia is housed in the
                            historical centre of the city of Kalamata, in the building of the old Town Market.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-waterfalls" data-order="16">
                    <h3 class="explore__item-title">Neda</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-16.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#waterfall"></use>
                            </svg>
                        </div>
                        Waterfalls
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">The only female river in Greece owes its name to the
                            origins of the God himself of the ancient gods. According to legend, the nymph, the
                            divinity of the waters Neda, protected the newborn Zeus, in this place.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-bysantium category-new" data-order="17">
                    <h3 class="explore__item-title">Methoni`s Catacombs</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-17.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#parthenon"></use>
                            </svg>
                        </div>
                        Byzantium
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Just outside Methoni, you will find the Catacombs
                            "Agionoyfri" ( Saint Onoufrios) as the locals call them. Carved on a rock ,in the
                            third century A.D.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="explore__item mix category-beaches" data-order="18">
                    <h3 class="explore__item-title">Buca Beach</h3>
                    <a href="#" class="explore__item-img item-image"
                        style=" background-image: url(img/explore-18.jpg);"></a>
                    <div class="explore__item-category">
                        <div class="category__icon">
                            <svg class="icon__explore" width="16" height="16">
                                <use xlink:href="img/sprite.svg#beach"></use>
                            </svg>
                        </div>
                        Beaches
                    </div>
                    <div class="explore__item-content">
                        <p class="explore__item-text">Once you enter the sea , you will taste the gold-fine
                            sand. It is surrounded by many wonderful coves which, if you are willing to stay a
                            bit more in the area, are really worth discovering.
                        </p>
                        <ul class="explore__item-link">
                            <li class="favorite">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#heart"></use>
                                    </svg>
                                    Favorite
                                </a>
                            </li>
                            <li class="map">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    Map
                                </a>
                            </li>
                            <li class="navigation">
                                <a href="#" class="link__btn explore__link">
                                    <svg class="icon__explore-link" width="30" height="30">
                                        <use xlink:href="img/sprite.svg#navigation"></use>
                                    </svg>
                                    Navigation
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="explore__btn">
        <button class="link-btn" type="button" data-filter=".category-new">All New Items</button>
        <button class="link-btn" type="button" data-filter=".category-popular">Popular Items</button>
    </div>
    </div>
</section>