<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col-activites">
                <div class="footer__col-title">ACTIVITIES</div>
                <ul class="footer__col-links">
                    <li><a class="menu__link" href="#">SEA KAYAKING</a></li>
                    <li><a class="menu__link" href="#">HIKING</a></li>
                    <li><a class="menu__link" href="#">SUP</a></li>
                    <li><a class="menu__link" href="#">RIVER TREKKING</a></li>
                    <li><a class="menu__link" href="#">RAFTING</a></li>
                    <li><a class="menu__link" href="#">CYCLING</a></li>
                    <li><a class="menu__link" href="#">CANYONING</a></li>
                </ul>
            </div>
            <div class="footer__col footer__col-destination">
                <div class="footer__col-title">DESTINATION</div>
                <ul class="footer__col-links">
                    <li><a class="menu__link" href="#">ARCADIA</a></li>
                    <li><a class="menu__link" href="#">KALAMATA</a></li>
                    <li><a class="menu__link" href="#">KORONI</a></li>
                    <li><a class="menu__link" href="#">MANI</a></li>
                    <li><a class="menu__link" href="#">METHONI</a></li>
                    <li><a class="menu__link" href="#">NAVARINO</a></li>
                    <li><a class="menu__link" href="#">NEDA WATERFALLS</a></li>
                    <li><a class="menu__link" href="#">POLILIMNIO</a></li>
                </ul>
            </div>
            <div class="footer__col footer__col-type">
                <div class="footer__col-title">TRIP TYPE</div>
                <ul class="footer__col-links">
                    <li><a class="menu__link" href="#">HALF DAY</a></li>
                    <li><a class="menu__link" href="#">FULL DAY</a></li>
                    <li><a class="menu__link" href="#">2 DAYS</a></li>
                    <li><a class="menu__link" href="#">3 DAYS</a></li>
                    <li><a class="menu__link" href="#">6 DAYS</a></li>
                    <li><a class="menu__link" href="#">7 DAYS</a></li>
                </ul>
            </div>
            <div class="footer__col footer__col-information">
                <div class="footer__col-title">INFORMATION</div>
                <ul class="footer__col-links">
                    <li> <a class="menu__link" href="#">ABOUT US</a></li>
                    <li>
                        <ul class="footer__contacts">
                            <li class="footer__contacts-title">CONTACT US</li>
                            <li class="footer__contacts-link">
                                <a href="#">
                                    <svg class="icon__contacts" width="14" height="14">
                                        <use xlink:href="img/sprite.svg#map-marker"></use>
                                    </svg>
                                    N. Skiada 1 , Gargalianoi

                                </a>
                            </li>
                            <li class="footer__contacts-link">
                                <a href="2763023082">
                                    <svg class="icon__contacts" width="14" height="14">
                                        <use xlink:href="img/sprite.svg#telephone"></use>
                                    </svg>
                                    27630 23082
                                </a>
                            </li>
                            <li class="footer__contacts-link">
                                <a href="mailto:hello@messinia.mobi">
                                    <svg class="icon__contacts" width="14" height="14">
                                        <use xlink:href="img/sprite.svg#envelope"></use>
                                    </svg>
                                    hello@messinia.mobi
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>FOLLOW US</li>
                    <li>
                        <ul class="follow">
                            <li>
                                <a class="follow__link" href="#" aria-label="facebook">
                                    <svg class="icon__social facebook" width="46" height="46">
                                        <use xlink:href="img/sprite.svg#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="follow__link" href="#" aria-label="twitter">
                                    <svg class="icon__social twitter" width="46" height="46">
                                        <use xlink:href="img/sprite.svg#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="follow__link" href="#" aria-label="pinterest">
                                    <svg class="icon__social pinterest" width="46" height="46">
                                        <use xlink:href="img/sprite.svg#pinterest"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu__link" href="#">BOOKING</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>