<header class="header" data-header>
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#"><img src="./img/logo.png" alt="Logo Messinia Greece"></a>
            </div>
            <div class="burger" data-burger>
                <div class="burger__line"></div>
            </div>
            <nav class="header__menu" data-menu>
                <ul class="menu__list">
                    <li><a class="menu__link" href="#">Home</a></li>
                    <li><a class="menu__link" href="#">Service</a></li>
                    <li><a class="menu__link" href="#">Explore</a></li>
                    <li><a class="menu__link" href="#">Team</a></li>
                    <li><a class="menu__link" href="#">Blog</a></li>
                    <li><a class="menu__link" href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>