<section class="multiday">
    <div class="container">
        <h2 class="multiday__title">Multiday</h2>
        <div class="multiday__items">
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Kayak and Camp</a></h3>
                <img class="multiday__item-img" src="img/multiday-1.jpg" alt="Foto Navarino Lagoon, Greece">
                <div class="multiday__item-info">
                    <p class="multiday__item-text">2 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Hiking the Menalon Trail</a></h3>
                <img class="multiday__item-img" src="img/multiday-2.jpg" alt="Foto hiking the Menalon Trail, Greece">
                <div class="multiday__item-info">
                    <p class="multiday__item-text">7 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Summit Mount Taygetos</a></h3>
                <img class="multiday__item-img" src="img/multiday-3.jpg" alt="Foto summit mount Taygetos, Greece"></img>
                <div class="multiday__item-info">
                    <p class="multiday__item-text">3 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Kayak and Hike the Greek Peloponnese</a></h3>
                <img class="multiday__item-img" src="img/multiday-4.jpg" alt="Foto kayaking the Greek Prloponnese"></img>
                <div class="multiday__item-info">
                    <p class="multiday__item-text">3 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Hiking the Spartan Trail</a></h3>
                <img class="multiday__item-img" src="img/multiday-5.jpg" alt="Foto the Spartan trail, Greece"></img>
                <div class="multiday__item-info">
                    <p class="multiday__item-text">6 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Sea Kayaking Adventure in the Mani peninsula</a></h3>
                <img class="multiday__item-img" src="img/multiday-6.jpg" alt="Foto sea kayaking adventure in the Mani peninsula, Greece"></img>
                <div class="multiday__item-info">
                    <p class="multiday__item-text">7 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Sea kayaking in Southwest Peloponnese</a></h3>
                <img class="multiday__item-img" src="img/multiday-7.jpg" alt="Foto kayaking in Southwest Peloponnese, Greece"></img>
                <div class="multiday__item-info">
                    <p class="multiday__item-text">7 Day Trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>Hiking mount Taygetos summit at 2407m</a></h3>
                <img class="multiday__item-img" src="img/multiday-8.jpg" alt="Foto summit mount Taygetos, Greece"></img>
                <div class="multiday__item-info">
                    <p class="multiday__item-text">Full day trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
            <article class="multiday__item">
                <h3 class="multiday__item-title"><a>River Trekking in Neda</a></h3>
                <img class="multiday__item-img" src="img/multiday-9.jpg" alt="Foto river Neda, Greece">
                <div class="multiday__item-info">
                    <p class="multiday__item-text">Full day trip</p>
                    <a class="multiday__item-link item-link" href="#">More info</a>
                </div>
            </article>
        </div>
    </div>
</section>