<section class="operator">
    <div class="container">
        <div class="operator__title">Holidays Messinia</div>
        <div class="operator__items">
            <article class="operator__item">
                <h3 class="operator__item-title">Rafting</h3>
                <a href="#" class="operator__item-img item-image"
                    style="background-image: url(img/operator-1.jpg);"></a>

                <a href="#" class="operator__item-subtitle">Rafting in Lousios river</a>
                <p class="operator__item-text">
                    Enjoy a unique rafting experience in two of the most beautiful rivers of Greece.
                </p>
                <a href="#" class="operator__item-link item-link">Read More</a>
            </article>
            <article class="operator__item">
                <h3 class="operator__item-title">Hiking</h3>
                <a href="#" class="operator__item-img item-image"
                    style="background-image: url(img/operator-2.jpg);"></a>

                <a href="#" class="operator__item-subtitle">Hiking Kardamyli</a>
                <p class="operator__item-text">
                    We usually perform our tours within a certain route aiming to visit the most beautiful spots
                    each trip has to offer however
                </p>
                <a href="#" class="operator__item-link item-link">Read More</a>
            </article>
            <article class="operator__item">
                <h3 class="operator__item-title">Sea Kayaking</h3>
                <a href="#" class="operator__item-img item-image"
                    style="background-image: url(img/operator-3.jpg);"></a>

                <a href="#" class="operator__item-subtitle">Sea Kayaking in Kalamata</a>
                <p class="operator__item-text">
                    This is a coast to coast trip along the seaside villages east of Kalamata, is suitable for
                    everybody but ideal for families with kids.
                </p>
                <a href="#" class="operator__item-link item-link">Read More</a>
            </article>
        </div>
    </div>
</section>