<section class="service" id="service">
    <div class="container">
        <ul class="service__items">
            <li class="service__item">
                <div class="service__item-icons">
                    <svg class="icon__service" width="40" height="40">
                        <use xlink:href="img/sprite.svg#canoe"></use>
                    </svg>
                </div>
                <h3 class="service__item-title">Outdoor activities</h3>
                <p class="service__item-text">
                    Paddle with a Sea Kayak along the most beautiful coastal routes, leading
                    to hidden coves and beaches, sea caves and uninhabited
                    islands.
                </p>
                <a href="#" class="service__item-link item-link">Read More</a>
            </li>
            <li class="service__item">
                <div class="service__item-icons">
                    <svg class="icon__service" width="40" height="40">
                        <use xlink:href="img/sprite.svg#mountaint"></use>
                    </svg>
                </div>
                <h3 class="service__item-title">Multiday adventures</h3>
                <p class="service__item-text">
                    Walk through the olive groves, over stone-built trails and pathways leading back in time.
                </p>
                <a href="#" class="service__item-link item-link">Read More</a>
            </li>
            <li class="service__item">
                <div class="service__item-icons">
                    <svg class="icon__service" width="40" height="40">
                        <use xlink:href="img/sprite.svg#lightbulb"></use>
                    </svg>
                </div>
                <h3 class="service__item-title">Blog Pages</h3>
                <p class="service__item-text">
                    Your reviews about your holiday in Messinia
                </p>
                <a href="#" class="service__item-link item-link">Read More</a>
            </li>
            <li class="service__item">
                <div class="service__item-icons">
                    <svg class="icon__service" width="40" height="40">
                        <use xlink:href="img/sprite.svg#tablet"></use>
                    </svg>
                </div>
                <h3 class="service__item-title">Messinia mobi</h3>
                <p class="service__item-text">
                    With Messinia.mobi, everyone can discover the secrets of Messinia in a way that is easy to
                    use and simpler than ever was before.
                </p>
                <a href="#" class="service__item-link item-link">Read More</a>
            </li>
        </ul>

    </div>
</section>