<section class="slider">
    <div class="slider__inner swiper-container">
        <div class="swiper-wrapper">
            <div class="slider__item swiper-slide" style="background-image: url(img/slide-1.jpg);">
                <div class="slider__item-wrapper">
                    <h2 class="slider__item-title">Explore Messinia</h2>
                    <p class="slider__item-text">Nowhere else in Greece, the authentic Mediterranean landscape
                        can be represented so clearly as in Messinia.
                    </p>
                    <a href="#" class="slider__item-link">Learn More</a>
                </div>
            </div>
            <div class="slider__item swiper-slide" style="background-image: url(img/slide-2.jpg);">
                <div class="slider__item-wrapper">
                    <h2 class="slider__item-title">Explore Messinia</h2>
                    <p class="slider__item-text">Nowhere else in Greece, the authentic Mediterranean landscape
                        can be represented so clearly as in Messinia.
                    </p>
                    <a href="#" class="slider__item-link">Learn More</a>
                </div>
            </div>
            <div class="slider__item swiper-slide" style="background-image: url(img/slide-3.jpg);">
                <div class="slider__item-wrapper">
                     <h2 class="slider__item-title">Explore Messinia</h2>
                    <p class="slider__item-text">Nowhere else in Greece, the authentic Mediterranean landscape
                        can be represented so clearly as in Messinia.
                    </p>
                    <a href="#" class="slider__item-link">Learn More</a>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>