@mixin bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex {
  display: flex;
}

@mixin flex-v-center {
  display: flex;
  align-items: center;
}

@mixin flex-h-center {
  display: flex;
  justify-content: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-all-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-col {
  flex-direction: column;
}

@mixin flex-row {
  flex-direction: row;
}

@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-rest {
  left: 0;
  top: 0;
  transform: translate(0, 0);
}