@media (max-width: 374px) {
    .bigBear__slider-navigation {
        display: none;
    }
}

@media (min-width: 500px) {
    .slider__control {
        max-width: 30%;
    }
    //BIGBEAR
    //slider
    .bigBear {
        &__slider {
            max-width: 60rem;
            width: 100%;
            height: 35rem;
            & img {
                height: 100%;
            }
        }
        .swiper-button-prev::after,
        .swiper-button-next::after {
            color: #fe982a;
            font-size: 4rem;
        }
    }
    //ACCOMODATION
    .accommodation {
        &__inner {
            column-gap: 3rem;
            row-gap: 2.5rem;
            .accommodation__item {
                transform: scale(1);
            }
        }
    }
}
@media (max-width: 599px) {
    .slider__col {
        display: none;
    }
}
@media (min-width: 600px) {
    //HEADER
    .header__menu {
        height: auto;
    }
    //HOUSING
    //slider
    .slider {
        &__item {
            position: relative;
            max-width: 42.5rem;
            width: 100%;
            height: 48.5rem;
        }
        &__image {
            max-height: 100%;
            background-blend-mode: normal;
        }
        &__content {
            position: absolute;
            top: 65%;
            left: 10%;
            color: $color-white;
        }
        &__title {
            color: $color-white;
            font-size: 2.4rem;
            line-height: 3.07rem;
        }
        &__info {
            font-size: 1.8rem;
            line-height: 2.19rem;
        }
        &__link {
            display: none;
        }
    }
    //REVIEWS
    .reviews__slider-text {
        color: $color-nero;
    }
    //INFO
    .info {
        //slider start
        .foto__slider {
            margin-top: 5rem;
        }
        .slider {
            &__front {
                height: 61.3rem;
                padding-bottom: 0;
                &-pagination {
                    display: none;
                }
            }
        }
        /*questions accordion*/
        .accordion {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__content {
                width: 100%;
            }
            &-item__title.active + div {
                justify-content: start;
            }
            &-item__title {
                &::after {
                    content: url(../../assets/icons/chevron-down-bg.svg);
                }
                &.active {
                    &::after {
                        content: url(../../assets/icons/x-orange.svg);
                    }
                }
            }
            &-item__text {
                font-size: 1.8rem;
                line-height: 2.194rem;
            }
        }
        //contacts start
        .contacts {
            &__background {
                background-image: url(../../assets/images/info-bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__title {
                margin-bottom: 6rem;
            }
            &__wrapper {
                display: flex;
                justify-content: space-between;
                max-width: 105rem;
                margin: 0 auto;
            }
            &__image {
                order: 1;
                max-width: 46rem;
                width: 100%;
                align-self: center;
            }
            &__info {
                &-inner {
                    margin-top: 0;
                    max-width: 44.5rem;
                    background: none;
                    backdrop-filter: blur(3px);
                }
            }
        }
    }
    /*SECTION HOUSING*/
    .footer {
        &__menu {
            &-wrapper {
                flex-direction: row;
                justify-content: space-around;
                &.text {
                    font-size: 1.6rem;
                }
            }
            &-item {
                margin-bottom: 0;
                .contacts__info-link {
                    flex-direction: column;
                    & li + li {
                        margin-left: 0;
                    }
                }
            }
            &-phone {
                order: 1;
            }
        }
    }
    .text {
        font-size: 1.8rem;
        line-height: 2.194rem;
    }
    .title {
        font-size: 4.8rem;
        line-height: 6.1rem;
    }
    //SPA
    .spa {
        &__inner {
            align-items: center;
        }
    }
    //ACCOMMODATION
    .accommodation {
        &__item {
            &--left {
                position: relative;
                max-width: 35rem;
                width: 100%;
                height: 31.7rem;
                flex-basis: 30%;
            }
            &--right {
                position: relative;
                max-width: 73rem;
                width: 100%;
                height: 31.7rem;
                flex-basis: 60%;
            }
            &-title.slider__title {
                margin-bottom: 0;
                color: $color-white;
            }
        }
        &__link {
            display: block;
            margin-top: 0;
            &::after {
                position: absolute;
                bottom: 15%;
            }
        }
        &__content {
            left: 0;
        }
    }
    //SALE
    .sale {
        &__block{
            padding: 15rem 0 9rem;
        }
        article &__inner {
            max-width: 50rem;
            width: 100%;
        }
        form {
            label {
                opacity: 0;
            }
            input {
                background: transparent;
                border-bottom: 0.2rem solid;
                &::-webkit-input-placeholder {
                    color: $color-white;
                }
            }
        }
    }
    //INFO
    .info{
        .accommodation__inner{
            .button{
                display: none;
            }
        }
    }
}
@media (max-width: 700px) {
    .form__booking {
        display: none;
    }
}
@media (min-width: 700px) {
    .start {
        &__button {
            display: none;
        }
        .date__arrival,
        .date__departure {
            padding-right: 0.5rem;
            border-right: 1px solid $color-bg;
            & input {
                width: 10rem;
            }
        }
        .guests {
            width: 10rem;
        }
    }

    .bigBear {
        &__slider {
            max-height: 35rem;
        }
        .swiper-slide.swiper-slide-prev,
        .swiper-slide.swiper-slide-next {
            transform: scaleY(0.9);
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        .swiper-slide.swiper-slide-prev::after {
            background: linear-gradient(50deg, #171b18 0%, rgba(23, 27, 24, 0) 100%);
        }
        .swiper-slide.swiper-slide-next::before {
            background: linear-gradient(280deg, #171b18 0%, rgba(23, 27, 24, 0) 150%);
        }
        .swiper-slide.swiper-slide-active {
            z-index: 1;
            transform: scaleX(1.5);
        }
    }
    //SPA
    .spa {
        &__inner {
            flex-direction: row;
            padding: 7rem 0;
        }
        &__info {
            z-index: 5;
        }
        &__image {
            position: absolute;
            bottom: 0;
            max-width: 45rem;
            right: 0;
        }
        &__button {
            margin: inherit;
            margin-top: 4.5rem;
        }
    }
}
@media (min-width: 800px) {
    //HEADER
    .header {
        &__menu {
            &-btn {
                display: none;
            }
            &-left {
                display: block;
            }
            &-right {
                color: $color-yellow;
            }
            &-title {
                display: none;
            }
            &-list {
                display: flex;
                & li + li {
                    margin-left: 2.5rem;
                }
            }
        }
    }
    //START
    .start {
        height: auto;
        padding-bottom: 10rem;
        &__subtitle {
            padding-bottom: 4.6rem;
            &-item {
                font-size: 1.6rem;
                line-height: 1.95rem;
            }
        }
        &__title {
            font-size: 7.2rem;
            line-height: 9.2rem;
            text-align: start;
        }
    }
    .subtitle {
        text-align: left;
        padding-left: 8.5rem;
    }
    //SPA
    .spa__image {
        max-width: 55rem;
    }
}
@media (min-width: 900px) {
    //HEADER
    .header__menu-list li + li {
        margin-left: 4.5rem;
    }
    //START
    .start {
        .date__arrival,
        .date__departure {
            padding-right: 3.5rem;
            & input {
                width: auto;
            }
        }
        .guests {
            width: auto;
        }
    }
    //BIGBEAR
    .bigBear {
        &__block {
            position: relative;
            flex-direction: row;
            justify-content: flex-end;
            &-info {
                position: absolute;
                z-index: 99;
                max-width: 40rem;
                left: 0;
            }
            &-slider {
                .swiper-button-prev {
                    display: none;
                }
                .swiper-button-prev::after,
                .swiper-button-next::after {
                    color: $color-white;
                }
            }
        }
    }
    //HOUSING
    .location {
        flex-direction: row;
        margin: 5rem auto;
        &__title {
            text-align: center;
            margin-bottom: 5rem;
        }
        .foto__block {
            flex-shrink: 0;
            margin-bottom: 0;
        }
    }
    .bukovel .foto__block,
    .yaremche .foto__block,
    .cottages .foto__block {
        margin-right: 2rem;
        justify-content: start;
    }
    .honey .foto__block,
    .chale .foto__block {
        order: 1;
        margin-left: 2rem;
    }
    //SPA
    .spa__image {
        max-width: 65rem;
    }
        //SALE
        .sale {
            article &__inner {
                max-width: 70rem;
                width: 100%;
            }
           article &__title{
                font-size: 4.6rem;
                line-height: 6.15rem;
            }
        }
}
@media (min-width: 1000px) {
    //BIGBEAR
    .bigBear {
        &__slider {
            max-width: 85rem;
        }
    }
    //SPA
    .spa__image {
        max-width: 85rem;
    }
}
