@import "./components/vars";
@import "mixins";
@import "./components/global";
@import "./components/header";
@import "./components/slider";
@import "./components/service";
@import "./components/explore";

@import "./components/footer";
@import "./components/breackpoints";


