.footer {
    height: 185px;
    background: #000;
    color: #fff;
}
.footer__inner {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.footer__menu,
.copyright {
    width: 240px;
}
.footer__menu-list {
    display: flex;
}
.divider {
    content: url(assets/divider.svg);
    margin-left: 20px;
    margin-right: 20px;
}
.footer__inner img {
    width: 45px;
    height: 45px;
}

@media (max-width: 650px) {
    .footer__menu,
    .copyright {
        width: auto;
    }
    .footer__inner {
        flex-direction: column;
    }
}