.footer {
    height: 18.5rem;
    background: #000;
    color: #fff;
    &__inner {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        img {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
    &__menu {
        width: 24rem;
        &-list {
            display: flex;
        }
    }
}
.copyright {
    width: 24rem;
}
.divider {
    content: url(assets/divider.svg);
    margin-left: 2rem;
    margin-right: 2rem;
}
@media (max-width: 650px) {
    .footer__menu,
    .copyright {
        width: auto;
    }
    .footer__inner {
        flex-direction: column;
    }
}
