.signUpp {
    min-height: 52.4rem;
    display: flex;
    justify-content: space-around;
    &__form {
        margin-top: 20rem;
        max-width: 41rem;
        width: 100%;
        position: relative;
        & input {
            color: #373737;
            border: none;
            background-color: #fff;
            display: block;
            width: 100%;
            height: 4.6rem;
            padding-left: 2.3rem;
        }
        & form {
            padding-left: 0.3rem;
            position: relative;
        }
        & button {
            position: absolute;
            top: 0;
            right: 0;
            width: 6.8rem;
            height: 100%;
            border: none;
            background: #00afdb;
            &:hover {
                background: #009cc2;
            }
        }
        & img {
            padding-left: 2rem;
        }
    }
    &__title {
        color: #fff;
        margin-bottom: 3rem;
        padding-left: 1.5rem;
    }
}
@media (max-width: 500px) {
    .signUpp__form {
        max-width: 31rem;
    }
}
