@import "src/rest";
@import "src/variables";
@import "src/global";
@import "src/header";
@import "src/start";
@import "src/bigBear";
@import "src/housing";
@import "src/honey";
@import "src/cottagesAndChale";
@import "src/reviews";
@import "src/advantages";
@import "src/slider";
@import "src/info";
@import "src/foto-slider";
@import "src/accordion";
@import "src/contacts";
@import "src/footer";