@charset "UTF-8";
:root {
  font-size: 10px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
select {
  padding: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  position: relative;
  min-width: 32rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #171B18;
}

a,
button {
  outline: none;
  cursor: pointer;
}

a {
  display: inline-block;
}

h1 {
  font-size: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 33rem;
  width: 100%;
  height: 5.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  color: #ffffff;
  background-color: #fe982a;
  -webkit-box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
          box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  width: 100%;
  height: auto;
}

.title {
  margin-top: 2rem;
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #ffffff;
  color: #171B18;
}

.subtitle {
  position: relative;
  overflow: hidden;
  text-align: right;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.95rem;
  text-transform: uppercase;
  color: #fe982a;
}

.linetext::before {
  content: "";
  border-bottom: 0.1rem solid #fe982a;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-left: calc(-100% - 1rem);
}

.text {
  font-size: 1.6rem;
  line-height: 1.95rem;
}

.text--orange {
  color: #fe982a;
}

.text--white {
  color: #ffffff;
}

.text--uppercase {
  text-transform: uppercase;
}

/*location block start*/
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
}

.location__title {
  margin-bottom: 3rem;
}

.location__link {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  line-height: 2.19rem;
  color: #fe982a;
}

.location__link::after {
  content: url(/bigBear/assets/icons/arrow-right-orange.svg);
  margin-left: 0.5rem;
}

.location .foto__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.4rem;
  max-width: 54rem;
  width: 100%;
}

.location .foto__block--left {
  margin-top: 20%;
}

.location .foto__block--left li + li,
.location .foto__block--right li + li {
  margin-top: 1.5rem;
}

.location .info__block {
  margin-bottom: 2.5rem;
}

.location .info__block ul {
  margin-top: 1.5rem;
}

.location .info__block li::before {
  content: "•";
  padding-right: 0.5rem;
}

.location .link__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*location block end*/
.header {
  position: absolute;
  width: 100%;
  margin-top: 3rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 68rem;
}

.start__wrapper {
  padding-top: 38.2rem;
}

.start__title {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 3.6rem;
  line-height: 4.6rem;
}

.start__subtitle {
  margin-top: 1.1rem;
}

.start__subtitle-item {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.start__button {
  margin-top: 2.3rem;
}

.bigBear {
  padding-top: 2rem;
  background: #171B18;
}

.bigBear__title {
  margin-top: 2rem;
  font-size: 4.8rem;
  line-height: 6.14rem;
}

.bigBear__info {
  margin-top: 3rem;
  color: #ffffff;
}

.bigBear__info p + p {
  margin-bottom: 2rem;
}

.bigBear__info li::before {
  content: "•";
}

.housing {
  margin-top: 4.9rem;
}

.housing__title {
  margin-bottom: 4.4rem;
}

.honey--text {
  margin-bottom: 2rem;
}

.cottagesAndChalets {
  padding-bottom: 3.5rem;
  background: #171B18;
  color: #ffffff;
}

.cottagesAndChalets .location {
  margin-top: 0;
}

.reviews {
  margin-top: 2rem;
}

.slider .reviews__slider--item {
  max-width: 33rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.slider .reviews__slider--content {
  max-width: 25rem;
  width: 100%;
}

.advantages {
  margin-top: 2rem;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  min-width: 22rem;
  margin-right: 2rem;
  -webkit-box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
          box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
}

.slider__content {
  max-width: 18rem;
  width: 100%;
  margin: 0 auto;
}

.slider__image {
  margin-bottom: 2rem;
  min-height: 14.1rem;
  background-repeat: no-repeat;
  display: block;
  background-position: 30% 35%;
  background-size: cover;
}

.slider__title {
  margin-bottom: 2rem;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.05rem;
  color: #171B18;
}

.slider__subtitle {
  margin-top: 2.5rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

.slider__info {
  height: 6rem;
  overflow-y: hidden;
  font-size: 1.3rem;
  line-height: 1.58rem;
}

.slider__info li::before {
  content: "•";
  padding-right: 0.5rem;
}

.slider__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.slider__link::after {
  content: url(/bigBear/assets/icons/arrow-right.svg);
  margin-left: 0.5rem;
}

.slider__text {
  margin-bottom: 2rem;
  text-align: center;
}

.slider__scrollbar {
  margin-top: 2rem;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3.5rem;
}

.slider__control .button--right,
.slider__control .button--left {
  background: transparent;
}

.slider__control .button--right::after {
  content: url(/bigBear/assets/icons/slider-arrow-right.svg);
}

.slider__control .button--left::after {
  content: url(/bigBear/assets/icons/slider-arrow-left.svg);
}

.info {
  padding-top: 5rem;
  padding-bottom: 9rem;
  background-color: #171B18;
  color: #ffffff;
}

.info .questions {
  padding-bottom: 8rem;
}

.foto-slider {
  margin-bottom: 4rem;
}

.foto-slider__wrapper {
  margin-bottom: 2rem;
}

.foto-slider__pagination {
  margin-bottom: 2rem;
}

.accordion__title {
  margin-bottom: 3rem;
}

.accordion-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.4rem;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #3c3c3c;
}

.accordion-item__title::after {
  content: url(/bigBear/assets/icons/chevron-down.svg);
  margin-left: 1.8rem;
}

.accordion-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.8rem;
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.46rem;
  background-color: #262B27;
}

.contacts {
  position: relative;
}

.contacts__title {
  text-align: center;
  margin-bottom: 2.5rem;
}

.contacts__info {
  margin-top: -11rem;
  padding: 2.5rem 2rem 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(rgba(60, 60, 60, 0)));
  background: linear-gradient(180deg, #3c3c3c 0%, rgba(60, 60, 60, 0) 100%);
  background-color: #171b18;
}

.contacts__info li + li {
  margin-bottom: 2.5rem;
}

.contacts__info-subtitle {
  text-align: left;
  font-weight: 600;
}

.contacts__info-phone, .contacts__info-email {
  text-transform: none;
}

.contacts__info-text span {
  font-weight: 600;
}

.contacts__info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__info-link li {
  width: 2.4rem;
  height: 2.4rem;
}

.contacts__info-link li + li {
  margin-left: 2rem;
}

.contacts__info-link .link--facebook {
  content: url(/bigBear/assets/icons/icon-facebook.svg);
}

.contacts__info-link .link--instagram {
  content: url(/bigBear/assets/icons/icon-instagram.svg);
}

.contacts__info-scrolling {
  margin-top: 3rem;
  padding: 2.5rem 1.6rem;
  background: rgba(255, 255, 255, 0.05);
}

.contacts__info-scrolling p {
  padding-right: 3rem;
  font-size: 1.2rem;
  line-height: 1.46rem;
}

.contacts__info-wrapper {
  max-height: 15rem;
  overflow: scroll;
}

.footer {
  background-color: #1C201D;
}

.footer__menu {
  padding: 5rem 0;
}

.footer__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu-title {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.93rem;
}

.footer__menu-item {
  margin-bottom: 5rem;
}

.footer__menu-item li {
  margin-bottom: 2.5rem;
}

.footer__menu-phone {
  margin-bottom: 2.5rem;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */