@import "src/rest";
@import "src/animation";
@import "src/variables";
@import "src/global";
@import "src/header";
@import "src/formBooking";
@import "src/start";
@import "src/bigBear";
@import "src/housing";
@import "src/reviews";
@import "src/advantages";
@import "src/slider";
@import "src/info";
@import "src/accordion";
@import "src/footer";
@import "src/swiper";

@import "src/media";