@import "src/global";
@import "src/mixin";
@import "src/header";
@import "src/your-life";
@import "src/represent";
@import "src/communyty";
@import "src/slider";
@import "src/signupp";
@import "src/download";
@import "src/footer";
@import "src/button-to-top";
@import "src/animation";

